$bckground-color: #bdbdbd;
$emoji-size: 12.5rem;
$emoji-face-color: #ffc83d;
$eye-mouth-clr: rgb(12, 12, 12);
$wh-of-100: 100%;
$br-of-50: 50%;
$tr-x: translateX(-50%);
$mask-color: white;
$br-face-mask: $emoji-size * 0.02 solid #999;
