@media screen and (max-width: 1080px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-areas: "content";
  }

  .grid__video {
    grid-template-columns: 1fr;
    grid-template-areas: "video" "benefits";
  }

  .benefits__section {
    justify-self: center;
  }
}
