$accent-color: #641bff;
$black: #000;
$border-light-color: #eef1f9;
$light-bg-color: #f8f9fb;
$header-ff: "Poppins", sans-serif;
$body-ff: "Lato", sans-serif;
$column-shadow: 0 7px 30px rgba(53, 31, 97, 0.1);
$popular-shadow: 0 7px 30px rgba(52, 13, 135, 0.3);
$inactive-color: #999;
